<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebUpload上传实例</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!--图片上传实例样式 start-->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vendors/webuploader-0.1.5/webuploader.css" rel="stylesheet" />
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../vendors/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
    <link href="../vendors/webuploader-0.1.5/style_simple.css?v=1" rel="stylesheet" />
    <link href="~/vendors/custom/css/custom_ask.css" rel="stylesheet" />
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!--图片上传实例样式 end-->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="btn-group">
                <a class="navbar-brand" href="/Upload/Index">首页</a>
            </div>
             
            <!--单按钮下拉菜单-->
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    图片上传
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="/Upload/Upload">直接上传</a></li>
                    <li><a class="dropdown-item" href="/Upload/SimpleUpload">简单上传</a></li>
                    <li><a class="dropdown-item" href="/Upload/ModalUpload">模态框上传</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    文档操作
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="/Upload/FileUpload">本地文件上传</a></li>
                    <li><a class="dropdown-item" href="/Upload/FileEdit">文件在线编辑</a></li>
                    <li><a class="dropdown-item" href="/Upload/DelFile">删除文件</a></li>
                    <li><a class="dropdown-item" href="/Upload/DelFileVersion">删除文件版本</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom">
            <p>&copy; @DateTime.Now.Year - <a href="http://yumaster.net">土伦</a></p>
        </footer>
    </div>

    <!--图片上传实例样式 JS start-->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../vendors/webuploader-0.1.5/webuploader.min.js"></script>
    <script src="../vendors/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="../vendors/webuploader-0.1.5/upload.js?v=2"></script><!--直接上传或模态框上传使用-->
    <script src="~/vendors/webuploader-0.1.5/upload_simple.js"></script><!--图片简单上传使用-->
    <script src="~/vendors/webuploader-0.1.5/fileUpload.js"></script><!--文件上传使用-->
    <script src="~/vendors/custom/js/custom.js"></script><!--无关紧要的JS-->
    <!--图片上传实例样式 JS end-->
</body>
</html>